.App{
min-height: 100vh;
/* background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%); */
background:url('./images/main.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-form{
min-height: 10vh;
display: flex;
justify-content: center;
align-items: center;
}

.search-bar{
width: 50%;
border: none;
padding: 10px;
}

.search-button{
background: lightcoral;
border: none;
padding: 10px 20px;
color: white;
font-weight: bold;
}

.new-recipe-button{
    margin: 10px 50px; 
}

.recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.floatLeft{
    float: left;
}

.center{
    text-align: center;
}