.App{
min-height: 100vh;
background:url('./images/main.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-form{
min-height: 10vh;
display: flex;
justify-content: center;
align-items: center;
}

.search-bar{
width: 50%;
border: none;
padding: 10px;
}

.search-button{
background: lightcoral;
border: none;
padding: 10px 20px;
color: white;
font-weight: bold;
}

.new-recipe-button{
    margin: 10px 50px; 
}

.floatLeft{
    float: left;
}

.center{
    text-align: center;
}

.hidden{
    display:none;
}

.show{
    display: block;
}

.message{
    margin-left: auto;
    width: 500px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    /* box-shadow: 0px 5px 5px rgb(71,71,71); */
    margin-right: 5px;
    z-index: 1;
    right: 1px;
    top: 1px;
}

.requiredField:after {
    content:" *";
    color: red;
  }